<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="ShoppingApp">
    <head>
        <title>Shopping Cart</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <script src="js/angular.js"></script>
        <script src="js/angular-resource.js"></script>
        <script src="js/ngStorage.js"></script>
        <script src="js/shopping.js"></script>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body ng-controller="ShoppingCartController as cartCtrl">
        <div>
            <div ng-include="'menu.html'"></div>
        </div>
        <h1>Shopping Cart</h1>
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in cartCtrl.items">
                    <td>{{item.product.name}}</td>
                    <td>{{item.salePrice}}</td>
                    <td>{{item.quantityPurchased}}</td>
                    <td>{{item.getItemTotal()}}</td>
                </tr>
                <tr>
                    <td colspan="3" id="total" class="bold">Total($)</td>
                    <td class="bold">{{cartCtrl.total}}</td>
                </tr>
            </tbody>  
        </table>
        <button type="button" ng-click="cartCtrl.checkOutCart()">Checkout Cart</button>
    </body>
</html>
